

#forms{
    display: flex;
    justify-content:space-around;
    align-items:center;
    position:absolute;
    left:45%;
    top: 45%;
}


#preto{
    background-color: black;
    display: flex;
    justify-content:center;
    align-items: center;
    height:100px ;
}

#logo{ 
    height:200px;
}

#bloco{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    background-color: black;
    color: white;
    border:none;
    margin:50px;
    letter-spacing: 0.5px;
    height:20px;
    border: 1px solid white;
}
